#root {
    text-align: center;
    --color-black: #151515;
    --color-green: #1adb4e;
    --color-gray: #A0A19F;
    --color-dark-gray: #42423e;
    --color-very-dark-gray: #30302e; 
    --color-white: #ffffff;
    --base-opacity: 0.9;
    --transition-time: 0.2s;
}

body{
    padding: 0;
    margin:0;
}

main {
    margin: 0 auto;
    padding: 2rem;
}

.stats-canvas-parent {
    border-style: solid;
    border-color: var(--color-gray);
    border-radius: 6px;
    width: 100%;
    height: 60vh;
}


input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: var(--color-gray);
    opacity: var(--base-opacity);
    -webkit-transition: var(--transition-time);
    transition: opacity var(--transition-time);
    --thumb-color: var(--color-green);
    --thumb-height: 175%;
}

.year-controls {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.year-slider {
    width: 80vw;
    border-radius: 0.5rem;
}

input[type="range"]:hover {
    opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: var(--thumb-color);
    cursor: pointer;
    height: var(--thumb-height);
    border: none
}

input[type="range"]::-moz-range-thumb {
    background: var(--thumb-color);
    cursor: pointer;
    height: var(--thumb-height);
    border-color: var(--color-black)
}

button {
    background-color: var(--color-gray);
    border: none;
    color: var(--color-black);
    border-radius: 6px;
    opacity: var(--base-opacity);
    -webkit-transition: var(--transition-time);
    transition: opacity var(--transition-time);
    text-align:center;
}

button:hover {
    opacity:1;
}

.year-button {
    font-size: 1.25rem;
}


.dataset-selection-parent, .scene-control-parent {
    display: flex;
    gap:2.5vw;
    justify-content: center;
    align-items: center;
    margin:auto;
    padding: 5px;
}

.dataset-selection-parent select, .scene-control-parent select {
    background: var(--color-black);
    border-color: var(--color-gray);
    border-radius: 6px;
    margin-left: 6px;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.tooltip {
    border-style: solid;
    border-color: var(--color-gray);
    border-radius: 0 6px 6px 6px;
    background: var(--color-black);
    pointer-events: none;
    text-align: start;
    padding: 0.5rem;
}

.tooltip p, h1, h2, h3, h4, h5, h6{
    margin-top:0;
    margin-bottom:0.5rem;
}

.tooltip i {
    color: var(--color-gray);
}

.advanced-options{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1.5rem auto;
}

fieldset {
    display: flex;
    justify-content: center;
    border:none;
}

legend{
    float:left;
}

.advanced-options-row {
    display: flex;
    justify-content: center;
    gap: 2.5vw;
    padding: 0.25rem;
}

.advanced-options input {
    margin-left: 0.5rem;
}

.advanced-options input[type="text"] {
    width: 3rem;
    height: 1rem;
    align-self: center;
}

.advanced-options input[type="range"]{
    border-radius: 0.5rem;
    height: 1rem;
}

.stats-canvas p {
    pointer-events: none;
}

.header{
    display: flex;
    justify-content: space-between;
    height: 5rem;
    width: 100%;
    background: var(--color-dark-gray);
    border-style: none none solid none;
    border-color: var(--color-gray);
    border-width: 1px;
}

.header button {
    background: var(--color-dark-gray);
    height: 100%;
    color: var(--color-white);
    border-style: none none none solid;
    border-color: var(--color-gray);
    border-width: 1px;
    border-radius: 0;
    font-size: 1rem;
    padding: 1rem;
    transition: background var(--transition-time);
}

.header button:hover{
    background: var(--color-very-dark-gray);
}