#root {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    --color-black: #151515;
    --color-green: #1adb4e;
    --color-gray: #A0A19F;
    --base-opacity: 0.9;
    --transition-time: 0.2s;
}

.stats-canvas-parent {
    border-style: solid;
    border-color: var(--color-gray);
    border-radius: 6px;
    width: 100%;
    height: 70vh;
}

.year-controls{
    display:flex;
    gap: 10px;
    justify-content:center;
    align-items:center;
}

.year-slider {
    width: 80vw;
    -webkit-appearance: none;
    appearance: none;
    background: var(--color-gray);
    border-radius: 200px;
    outline: none;
    opacity: var(--base-opacity);
    -webkit-transition: var(--transition-time);
    transition: opacity var(--transition-time);
    --thumb-color: var(--color-green);
    --thumb-height: 175%;
}

.year-slider:hover{
    opacity:1;
}

.year-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: var(--thumb-color);
    cursor: pointer;
    height: var(--thumb-height);
    border:none
}

.year-slider::-moz-range-thumb {
    background: var(--thumb-color);
    cursor: pointer;
    height: var(--thumb-height);
    border-color: var(--color-black)
}

button {
    background-color: var(--color-gray);
    border: none;
    color: var(--color-black);
    border-radius: 6px;
    opacity: var(--base-opacity);
    -webkit-transition: var(--transition-time);
    transition: opacity var(--transition-time);
    text-align:center;
}

button:hover {
    opacity:1;
}

.year-button {
    font-size: 20px;
}

.camera-button{
    height: 26px;
}

.dataset-selection-parent, .camera-selection-parent {
    display: flex;
    gap:2.5vw;
    justify-content: center;
    align-items: center;
    margin:auto;
    padding: 5px;
}

.dataset-selection-parent select, .camera-selection-parent select {
    background: var(--color-black);
    border-color: var(--color-gray);
    border-radius: 6px;
    margin-left: 6px;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.tooltip {
    border-style: solid;
    border-width: 3px;
    border-color: var(--color-gray);
    border-radius: 3px;
    background: var(--color-black);
    pointer-events: none;
}

.tooltip::after {
    content: " ";
    position: absolute;
    top: 10px;
    right: 100%;
    margin-top: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent var(--color-gray) transparent transparent;
}
